.file-management-card {
    padding: 1rem;
}

.files-list-card {
    margin-top: 1rem;
    padding: 1rem;
}

.pagination {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.datatable {
    margin-top: 1rem;
}